// conf/eden.config

process {
    executor = 'slurm'
    queue    = 'short'          // corresponds to --partition=short
    cpus     = 10               // default CPUs per task (can override per process)
    memory   = '30 GB'          // default memory per task
    time     = '06:00:00'       // default walltime

    // Extra SBATCH options for all jobs
    clusterOptions = '''
        --mail-type=END,FAIL
        --mail-user=p.mishra@cent.uw.edu.pl
    '''
}

// You can override resources for specific heavy steps if needed:
withName: ALIGN_BWA {
    cpus   = 16
    memory = '60 GB'
    time   = '12:00:00'
}

withName: MARKDUP {
    cpus   = 16
    memory = '40 GB'
    time   = '06:00:00'
}

withName: BREAK_CALLING {
    cpus   = 16
    memory = '20 GB'
    time   = '06:00:00'
}

// Work directory for Nextflow internals
workDir = "/home2/faculty/pmishra/I-SAGE_work"